<h1><%= @restaurant.name%></h1>
<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <h2>Contact</h2>
      <p><%= @restaurant.address%></p>
      <p><%= @restaurant.phone_number%></p>
      <p><%= @restaurant.category%></p>
    </div>
    <div class="col-sm-6">
      <h2>Reviews</h2>
      <% @restaurant.reviews.each do |review| %>
      <p>"<%= review.content %>"</p>
      <%review.rating.times do%>
        <i class="fas fa-star"></i>
      <% end %>
      <% end %>
    </div>
    <div class="col-sm-6">
      <%= simple_form_for [@restaurant, @review] do |f| %>
        <% if @review.errors.any? %>
          <div class="errors-container">
            <ul>
              <% @review.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <%= f.input :content %>
        <%= f.input :rating %>
        <%= f.submit%>
      <% end %>
    </div>
  <%= link_to "See all", restaurants_path%>
</div>
